<ol class="txt-medium margin-none-block" role="list">
  <li>
    <%= link_to edit_action_name(edit), book_page_edit_path(edit.leaf.book, edit.leaf.leafable, edit) %>
    <%= time_ago_in_words(edit.created_at) %> ago
  </li>
</ol>
