<%= leafable_edit_form(section, id: "section-editor") do |form| %>
  <h1><%= text_field_tag "leaf[title]", section.title, required: true, autofocus: true, class: "input full-width", autocomplete: "off", data: { controller: "autoselect" }  %></h1>
  <%= form.submit "Save", hidden: true %>
<% end %>
