<% if edit = leaf.edits.sorted.first %>
  <div class="txt-align-center txt-small margin-block-end margin-block-start-double">Last updated <%= link_to time_ago_in_words(edit.updated_at), page_edit_path(edit.leaf.leafable, edit) %> ago.</div>
<% end %>
