<% content_for(:title) { page_title(@leaf, @book) } %>

<% content_for :header do %>
  <%= render "leaves/header", book: @book, leaf: @leaf %>
<% end %>

<% if @book.editable? %>
  <div class="page__toolbar flex-inline align-center gap center fill-shade">
    <span class="center pad">
      <%= editing_mode_toggle_switch(leaf: @leaf) %>
    <span>
  </div>
<% end %>

<div class="page__body">
  <%= @page.body.to_html %>
</div>

<%= render "leaves/navigation", leaf: @leaf %>
