<%= turbo_frame_tag :search do %>
  <%= form_with url: book_search_url(book) do |f| %>
    <%= f.search_field :search %>
  <% end %>

  <div class="search__results shadow">
    <% if @pages.any? %>
      <% @pages.each do |page| %>
        <%= render "books/searches/result", page: page %>
      <% end %>
    <% else %>
      <p class="search__no_matches">No matches!</p>
    <% end %>
  </div>
<% end %>
