.arrangement__container {
  &:where(:has(#arrange-mode:checked)) {
    .disable-when-arranging {
      cursor: not-allowed;
      filter: grayscale(100%) contrast(0.5);
      opacity: 0.5;
      pointer-events: none;
    }

    .hide-when-arranging {
      display: none;
    }

    .arrangement__item {
      cursor: move;

      * {
        pointer-events: none;
      }
    }

    &:where(:has(#toc-list:checked)) {
      .arrangement__handle {
        display: block;
      }
    }

    &:not(:has(#toc-list:checked)) {
      .arrangement__item {
        animation: fidget 500ms infinite;
      }
    }
  }
}

.arrangement-adding-mode
  .arrangement__item {
    * {
      pointer-events: none;
    }
  }
}

.arrangement-cursor {
  border-style: dashed;
}

.arrangement-drag-image {
  position: fixed;
  bottom: 100%;
  right: 100%;
  padding: 0 1rem;
  line-height: 2rem;
  background-color: var(--color-link);
  color: white;
  border-radius: 1rem;
  text-wrap: nowrap;
}

.arrangement__handle {
  aspect-ratio: 1;
  block-size: 0.8em;
  cursor: grab;
  display: none;
  margin: auto;
}

.arrangement-selected {
  background-color: var(--color-selected);
  border-radius: 0.2em;

  .arrangement-move-mode & {
    animation: pulse 1000ms infinite;
  }
}

.arrangement-placeholder {
  background-color: var(--color-subtle-light);
  border: 1px dashed var(--color-subtle-dark);
  border-radius: 0.2em;
}
