.book__cover {
  background-color: var(--color-subtle-light);
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px var(--color-subtle);
  margin: auto;
  max-block-size: var(--cover-height, 75dvh);
}

.book__cover--remove {
  margin-block-start: calc(var(--block-space) * -1);
}

.bookmark {
  --icon-size: 1.5em;

  display: block;
  inset: var(--progress, 0) calc(var(--icon-size) / 4) auto calc(var(--icon-size) * -0.5);
  position: absolute;

  .bookmark__icon {
    display: flex;
    flex-grow: 1;

    svg {
      block-size: var(--icon-size);
      flex-shrink: 0;
      inline-size: var(--icon-size);
    }

    &::after {
      border-block-end: 1px dashed var(--color-marker);
      content: "";
      display: flex;
      flex-grow: 1;
      margin: auto;
    }
  }
}

.bookmark__link::after {
  background-color: transparent;
  content: "";
  offset: 0;
  pointer-events: auto;
  position: absolute;
  z-index: 1;
}

.book__title {
  font-weight: 750;
}

.book__toolbar {
  inset-block-start: 0;
  position: sticky;
  z-index: 1;
}
