.breadcrumbs {
  align-items: center;
  display: flex;
  gap: var(--inline-space-half);
  min-width: 0;

  > * {
    flex-shrink: 0;
    max-inline-size: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > strong {
    flex-shrink: 1;
  }

  input {
    field-sizing: content;
    min-inline-size: 8ch;
  }
}
