:where(#main) {
  --footer-height: calc((var(--block-space) * 2) + 2.65rem);

  container-type: inline-size;
  font-size: var(--font-medium-responsive);
  inline-size: 60ch;
  margin-block: var(--block-space);
  margin-inline: auto;
  max-inline-size: 100%;
  min-block-size: calc(100vh - (2 * var(--footer-height)));
  padding-inline: clamp(var(--inline-space), 5cqi, calc(var(--inline-space) * 3));
  text-align: center;

  &:where(.book) {
    --cover-height: auto;
    --space: clamp(2ch, 10%, 6ch);

    column-gap: calc(var(--space) / 2);
    display: grid;
    grid-template-columns: minmax(25%, 20dvw) 1fr;
    inline-size: 100%;
    padding-inline: var(--space);

    @media (max-width: 100ch) {
      --cover-height: 75dvh;

      grid-template-columns: 1fr;
    }
  }

  &:where(.books) {
    inline-size: 100%;
  }

  @media print {
    font-size: 11pt;
    inline-size: unset;
    line-height: 1.3;
    margin: 0;
    orphans: 3;
    padding: 0;
    text-align: justify;
    text-justify: distribute;
    widows: 2;
  }
}

:where(#header) {
  view-transition-name: header;

  > nav {
    view-transition-name: nav;
  }

  > * {
    align-items: center;
    display: flex;
    gap: 1ch;
    justify-content: center;
    padding: var(--block-space-half) var(--inline-space);
  }

  @media print {
    display: none;
  }
}
