.library {
  --gap: clamp(var(--inline-space), 2cqi, calc(var(--inline-space) * 3));

  display: grid;
  gap: var(--block-space) var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(max(150px, 14cqi), 1fr));
  padding-inline: var(--gap);
}

.library__book {
  --row-gap: calc(var(--block-space) * 0.2);

  container-type: inline-size;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;

  h2 {
    font-size: clamp(1rem, 10cqi, 1.4rem);
    line-height: 1.3;
  }
}

.book__cover {
  background-color: var(--color-border);
  border: 1px solid var(--color-border-dark);
  border-radius: 0.3em;
  margin: auto;
  max-block-size: var(--cover-height, 75dvh);
}
