.search__modal {
  --panel-size: 80ch;
}

.search__result {
  border-radius: 0.5em;
  padding: 0.5em 0.75em;

  @media (hover: hover) {
    --hover-size: 0;
    --outline-color: var(--color-selected-dark);

    &:focus-visible,
    &:hover {
      background-color: var(--color-selected);
    }
  }
}

mark {
  color: var(--color-ink);
  background-color: var(--color-highlight);
}
