:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  font-weight: 800;
  hyphens: auto;
  letter-spacing: -0.03ch;
  line-height: calc(2px + 2ex + 2px);
  margin-block: 0.65em;
  overflow-wrap: break-word;
  text-wrap: balance;
}

:is(p, ul, ol, dl, blockquote, pre, figure, table, hr) {
  margin-block: 1lh;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

hr {
  border-color: var(--color-border-darker);
  border-style: solid none none;
  margin: 2lh auto;
}

strong {
  font-weight: 600;
}

pre {
  background-color: var(--color-border);
  border: 1px solid var(--color-border-dark);
  border-radius: 0.5em;
  font-family: var(--font-mono);
  font-weight: 500;
  padding: 0.5lh 2ch;
}


code {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 0.85em;
}

p {
  hyphens: auto;
  letter-spacing: -0.005ch;
}

blockquote {
  font-style: italic;
  margin: 0 3ch;

  p {
    hyphens: none;
    text-align: left;

    &:first-of-type::first-letter {
      -webkit-initial-letter: normal;
      initial-letter: normal;
      margin: 0;
    }
  }
}

table {
  border: 1px solid var(--color-border-darker);
  border-collapse: collapse;
  inline-size: 100%;
  margin: 1lh auto;
  table-layout: fixed;
}

thead td {
  font-weight: 500;
}

td {
  padding: 0.2lh 1ch;
  border: 1px solid var(--color-border-darker);
}

del {
  background-color: oklch(var(--lch-red) / 0.1);
  color: var(--color-negative);
}

ins {
  background-color: oklch(var(--lch-green) / 0.1);
  color: var(--color-positive);
}
