.toc--list {
  list-style: none;

  li {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1ch;
    font-weight: 300;

    &::before {
      content: "";
      block-size: 1em;
      inline-size: 1em;
      background: url(handle.svg) no-repeat center center;
      background-size: 0.8em;
      display: inline-flex;
      opacity: 0.2;
      filter: invert(0%);
    }

    @media (prefers-color-scheme: dark) {
      &::before {
        filter: invert(100%);
      }
    }
  }

  a {
    align-items: end;
    display: flex;
    flex-grow: 1;
    gap: 1ch;
    inline-size: fill-available;
    white-space: nowrap;
    color: inherit;

    &::after {
      border-block-end: 1px dotted var(--color-border-darker);
      content: "";
      flex-grow: 0;
      inline-size: 100%;
      margin-block-end: 0.25em;
    }
  }

  strong {
    font-weight: 900;
  }
}

.drag-handle {
  cursor: grab;
  opacity: 0.3;
}

.toc--grid {
  display: grid;
  font-size: 1rem;
  inline-size: auto;
  gap: 1lh 2ch;
  grid-template-columns: repeat(auto-fit, minmax(max(100px, 12cqi), 1fr));
}

.toc--row {
  li {
    flex: 0 0 10cqi;
  }
}

:is(.toc--grid, .toc--row) {
  li {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    row-gap: 0.3lh;
    text-align: center;

    :is(figure, figcaption) {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-size: 0.8em;
      line-height: 1.2;
    }

    figure:has(strong) {
      display: grid;

      .toc__page {
        grid-area: 1/1;
        background-color: var(--color-border);
      }

      figcaption {
        grid-area: 1/1;
        font-size: 0.8em;
        place-self: center;
        padding-inline: var(--inline-space);
        margin-block-start: -1em;
      }
    }
  }
}

.toc--row {
  display: grid;
  font-size: 1rem;
  inline-size: auto;
  gap: 1lh 2ch;
  grid-template-columns: repeat(auto-fit, minmax(max(100px, 12cqi), 1fr));
}

.toc__page {
  aspect-ratio: 6 / 9;
  display: block;
  border-radius: 0.3em;
  border: 1px solid var(--color-border-darker);
  margin-block-end: 0.5lh;
  font-size: 0.5em;
  padding: 1em 2.5em;
  text-align: start;
  overflow: clip;
}


.toc__page--new {
  transition: all 1s, display 1s;

  @starting-style {
    background-color: yellow;
  }
}
