.toc {
  display: grid;
  font-size: clamp(1rem, 2.5cqi, 1.5rem);
  inline-size: auto;
  gap: var(--block-space) var(--inline-space);
  grid-template-columns: repeat(auto-fit, minmax(max(130px, 12cqi), 1fr));
  list-style: none;
  padding: 0;

  .toc__container:where(:has(#toc-list:checked)) & {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--block-space) * 0.3);
  }
}

.toc__leaf {
  color: var(--color-ink);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;

  .toc__container:where(:has(#toc-list:checked)) & {
    align-items: start;
    column-gap: 1ch;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    justify-content: center;
    row-gap: calc(var(--block-space) * 0.3);
    text-align: start;
  }
}

.toc__thumbnail {
  aspect-ratio: 6 / 9;
  border-radius: 0.3em;
  border: 1px solid var(--color-border-darker);
  color: inherit;
  display: block;
  font-size: clamp(0.33rem, 6cqi, 1rem);
  line-height: 1.4;
  margin-block-end: var(--block-space-half);
  overflow: clip;
  padding: 10cqi;
  text-align: start;
  text-decoration: none;

  .toc__leaf--section & {
    align-items: center;
    background-color: var(--color-border);
    display: flex;
    font-weight: 900;
    justify-content: center;
  }

  .toc__leaf--picture & {
    padding: 0;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  .toc__container:where(:has(#toc-list:checked)) & {
    display: none;
  }
}

.toc__title {
  color: inherit;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 6cqi, 1.2rem);
  gap: var(--inline-space);
  line-height: 1.2;
  text-decoration: none;

  .toc__container:where(:has(#toc-list:checked)) & {
    flex-direction: row;
    flex-grow: 1;
    font-size: inherit;
    gap: var(--inline-space);
    inline-size: fill-available;
    white-space: nowrap;

    &:is(a) {
      text-decoration: underline;
    }

    &::after {
      border-block-end: 1px dotted var(--color-border-darker);
      content: "";
      flex-grow: 0;
      inline-size: 100%;
      margin-block-end: 0.25em;
    }

    .toc__leaf--section & {
      font-weight: 900;
    }
  }
}

.toc__wordcount {
  font-size: clamp(0.8rem, 6cqi, 1.2rem);

  .toc__container:where(:has(#toc-list:checked)) & {
    font-size: 0.8em;
  }
}

.toc__handle {
  aspect-ratio: 1;
  block-size: 0.8em;
  cursor: grab;
  display: none;
  margin: auto;
  opacity: 0.3;

  .toc__container:where(:has(#toc-list:checked)) & {
    display: block;
  }
}
